page-login {

    .background {
        background-image: url('../assets/imgs/Zeon_MainPage_img(3).jpg');
        background-repeat: no-repeat;
        background-position: center;
    }

    ion-list{
        padding-top: 150px;
    }
    
    ion-item{
        opacity: 0.9;
    }
}
