<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">

  <ion-list>
    <div [formGroup]="loginForm">
      <ion-item>
        <ion-label floating>User ID</ion-label>
        <ion-input type="text" [(ngModel)]="user" name="user" formControlName="user">User ID</ion-input>
      </ion-item>
    
      <ion-item>
          <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="pass" name="pass" formControlName="pass">Password</ion-input>
      </ion-item>
    </div>
    </ion-list>
    <button ion-button block color ="danger" [disabled]="!loginForm.valid" (click)="loginHome()">Login</button>

</ion-content>
