<!--
  Generated template for the DisplayListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>displayListing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let listing of listings">
    
    <ion-card-content>
       
      <ion-card-title>
        <ion-label>{{listing.AdsTitle}}</ion-label>
        <p>{{listing.State}}</p>
        <p>{{listing.Area}}</p>
      </ion-card-title>
        <ion-item>
          <p>{{listing.ListingType}}</p>
           <p>By {{listing.Agent}}</p>
           <p>{{listing.AddedDate}}</p>
          
           <div *ngIf="listing.Status == 1">
              <p>Approved By {{listing.ApproveBy}}</p>
              <button ion-button color="danger" (click)="takedown()">Take Down</button>
           </div>
          <div *ngIf="listing.Status == 0">
              <p>Taken Down By{{listing.ApproveBy}}</p>
              <button ion-button color="secondary" (click)="approve()">Approve</button>
          </div>
          <div *ngIf="listing.Status == -1">
              <p>{{listing.ApproveBy}}</p>
              <p>Require To Approve</p>
              <button ion-button color="secondary" (click)="approve()">Approve</button>
          </div>
        </ion-item>
       
       
      </ion-card-content>
      </ion-card>
</ion-content>
