<!--
  Generated template for the DirectSponsorModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DIRECT SPONSORS</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
            <h3><p class="directsponsorfont">NEW DIRECT SPONSORS THIS MONTH</p></h3>
            <ion-card class="round-direct-sponsor">
            <h4><p class="directsponsor">{{result.ThisMonthDirectSponsor}}</p></h4>
            </ion-card>
          </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8>
              <h3><p class="directsponsorfont">TOTAL DIRECT SPONSORS</p></h3>
              <ion-card class="round-direct-sponsor">
              <h4><p class="directsponsor">{{result.TotalDirectSponsor}}</p></h4>
              </ion-card>
            </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>


    </ion-grid>

    
    
  
   
</ion-content>
