page-direct-sponsor-modal {
    .directsponsorfont{
        text-align: center;
    }

    .directsponsor{
        text-align: center;
        color: white;
        font-size: 36px;
        
    }
    .round-direct-sponsor
    {
        border-radius: 80px;
        border-width: 5px;
        border-color: black;
        min-width:40px;
        max-width:40px;
        min-height:40px;
        max-height:40px;
        object-fit: cover;
       background-color: red;
       margin-left: 85px;
    }

}
