<ion-header>
  <ion-navbar>
    <ion-title>
      My Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
        <ion-card class="zeon_logo">
            <img src="assets/imgs/profile_julian.JPG"/>
          </ion-card>
    </ion-col>
    <ion-col></ion-col>
      
  </ion-row>

<ion-row>

    <ion-col></ion-col>
    <ion-col>
     
          <h4><p class="fullname">{{result.FirstName}} {{result.LastName}}</p></h4>
          <p class="fullname">{{result.UserID}}</p>
          <p class="fullname">{{result.UserEmail}}</p>
          <p class="fullname">{{result.MobileCountry}}{{result.MobileNo}}</p>
        
    </ion-col>
    <ion-col></ion-col>
  </ion-row>


  
<ion-row>

    <ion-col>
      <button ion-button color="blue" (click)="redirectToSponsor()" class="button-round">Sponsors</button>
  </ion-col>

  <ion-col>
      <button ion-button color="blue" (click)="redirectToListing()"  class="button-round">Listing</button>
    </ion-col>
    <ion-col>
    <button ion-button color="blue" (click)="redirectToListingDetail()"  class="button-round">Dashboard</button>
    </ion-col>
</ion-row>

 
 
 
  <button ion-button block color="danger" full (click)="logout()">Logout</button>
</ion-grid> 
</ion-content>
