page-home {
    .zeon_logo{
        border-radius: 80px;
        border-width: 5px;
        border-color: black;
        min-width:150px;
        max-width:150px;
        min-height:150px;
        max-height:150px;
        object-fit: cover;
       
        
        
    }
    .welcome_card{
        padding:20px;
        text-align:center;
        
    }

    .fullname{
        text-align: center;
    }

    .button-round    
    {
        border-radius: 80px;
        border-width: 10px;
        border-color: black;
        min-width:80px;
        max-width:80px;
        min-height:80px;
        max-height:80px;
        object-fit: cover;
       margin-left: 10px;
       
    }
    
}
