<!--
  Generated template for the ProfitModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profit</ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <h3 class="profitfont"><p>PERSONAL PROFIT THIS MONTH</p></h3>
        <ion-card class="container-profit">
        <h4><p class="profit">{{result.ThisMonthPersonalProfit}}</p></h4>
      </ion-card>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
          <h3 class="profitfont"><p>TOTAL PROFIT</p></h3>
          <ion-card class="container-profit">
          <h4><p class="profit">{{result.TotalPersonalProfit}}</p></h4>
        </ion-card>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8>
            <h3 class="profitfont"><p>TEAM PROFIT THIS MONTH</p></h3>
            <ion-card class="container-profit">
            <h4><p class="profit">{{result.ThisMonthTeamProfit}}</p></h4>
          </ion-card>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <h3 class="profitfont"><p>TOTAL TEAM PROFIT</p></h3>
              <ion-card class="container-profit">
              <h4><p class="profit">{{result.TotalTeamProfit}}</p></h4>
            </ion-card>
            </ion-col>
            <ion-col col-2></ion-col>
          </ion-row>
  

  </ion-grid>
    
</ion-content>
