<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding id ="welcome">

  <h1> Zeon Overriding </h1>
  <p>Property Agent Payout System</p>

  <ion-card-content>
  <img src="assets/imgs/profile_nathan.JPG" />
</ion-card-content>

  <button ion-button block class="loginbutton" (click)="login()">Login</button>
  

</ion-content>
