page-welcome {
 #welcome{
     background: color($colors, energy);
     h1{
         font-size:52px;
         margin-top:50px
     }
 }

 .loginbutton{
     margin-top:100px;
     
 }
 .logo1{
     height:200px;
 }
}
