page-sponsor-modal {
    .sponsorfont{
        text-align: center;
    }

    .sponsor{
        text-align: center;
        color: white;
        font-size: 36px;
        
    }
    .round-sponsor
    {
        border-radius: 80px;
        border-width: 5px;
        border-color: black;
        min-width:40px;
        max-width:40px;
        min-height:40px;
        max-height:40px;
        object-fit: cover;
       background-color: red;
       margin-left: 85px;
    }
}
