<!--
  Generated template for the CreateListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CreateListing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-item>
    <ion-label>Property Type</ion-label>
    <ion-select [(ngModel)]="propertytype">
      <ion-option *ngFor = "let propertytype of propertytypes" value={{propertytype.PropertyType}}>{{propertytype.PropertyType}}</ion-option>
    </ion-select>

  </ion-item>
  
  
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h1>General Info</h1>
      </ion-card-title>

      
  
     
      <!--Advertisement Title-->
      <ion-item>
        <ion-label floating>Advertisement Title</ion-label>
        <ion-input type="text" [(ngModel)]="AdsTitle" name="AdsTitle">Advertisement Title</ion-input>
      </ion-item>
      <!--Unit Number-->
      <ion-item>
          <ion-label floating>Unit Number</ion-label>
          <ion-input type="text" [(ngModel)]="unitnumber" name="unitnumber">Unit Number</ion-input>
      </ion-item>

      <!--Agent Name-->
      <ion-item>
          <ion-label>Agent Name</ion-label>
          <ion-input type="text" [(ngModel)]="agentname" name="agentname" readonly></ion-input>
      </ion-item>

      <!--Agent's Contact-->
      <ion-item>
          <ion-label>Agent's Contact</ion-label>
          <ion-input type="text" [(ngModel)]="agentcontact" name="agentcontact" readonly>Agent's Contact</ion-input>
      </ion-item>
   
    </ion-card-content>
  </ion-card>


  <!--Listing Form-->
  <ion-card>
  <ion-card-content>
    <ion-card-title>
      <h1>Listing Form</h1>
      <h2>Owner Details</h2>
    </ion-card-title>

      <!--Owner's Name-->
      <ion-item>
          <ion-label floating>Owner's Name</ion-label>
          <ion-input type="text" [(ngModel)]="ownername" name="ownername">Owner's Name</ion-input>
      </ion-item>

      <!--Owner's Email-->
      <ion-item>
          <ion-label floating>Owner's Email</ion-label>
          <ion-input type="text" [(ngModel)]="owneremail" name="owneremail">Owner's Email</ion-input>
      </ion-item>

      <!--Owner's Contact-->
      <ion-item>
          <ion-label floating>Owner's Contact</ion-label>
          <ion-input type="text" [(ngModel)]="ownercontact" name="ownercontact">Owner's Contact</ion-input>
      </ion-item>

      <!--Owner's Contact 2-->
      <ion-item>
          <ion-label floating>Owner's Contact 2</ion-label>
          <ion-input type="text" [(ngModel)]="ownercontact2" name="ownercontact2">Owner's Contact 2</ion-input>
      </ion-item>


    
  </ion-card-content>
  </ion-card>

  <!--Property Particulars-->
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h1>Property Particulars</h1>
      </ion-card-title>
      <!--Accepted Image-->
      <ion-item>
          <ion-label floating>Accepted Image Format: *jpg *png *gif *tif *jpeg</ion-label>
          <button ion-button color="secondary" item-end (click)="uploadPhoto()">Photo</button>
      </ion-item>

      <img #image1 *ngIf="image" [src]="image" class="displayImage" />

       <!--Attachment-->
       <ion-item>
          <ion-label floating>Upload File/Documents</ion-label>
          <ion-input type="text" [(ngModel)]="attachment" name="attachment">Upload File/Documents</ion-input>
      </ion-item>

       <!--Property Address-->
       <ion-item>
          <ion-label floating>Property Address</ion-label>
          <ion-input type="text" [(ngModel)]="propertyaddress" name="propertyaddress">Property Address</ion-input>
      </ion-item>

      
      <ion-item>
        <ion-label>State</ion-label>
        <ion-select (ionChange)="stateChange(state)" [(ngModel)]="state">
             <ion-option [value]="state" *ngFor = "let state of states">{{state.StateName}}  </ion-option> 
       </ion-select>
             
    </ion-item>
   <ion-item>
         <ion-label>Area</ion-label>
         <ion-select [(ngModel)]="area">
               <ion-option [value]="area" *ngFor = "let area of selectedArea">{{area.AreaName}}</ion-option>
         </ion-select>
    </ion-item>
      

      <!--Tenure-->
      <ion-item>
          <ion-label>Tenure</ion-label>
          <ion-select [(ngModel)]="tenure">
            <ion-option *ngFor = "let tenure of tenures" value={{tenure.Tenure}}>{{tenure.Tenure}}</ion-option>  
          </ion-select>
      </ion-item>

       <!--Title-->
       <ion-item>
          <ion-label>Title</ion-label>
          <ion-select [(ngModel)]="title">
            <ion-option *ngFor = "let title of titles" value={{title.Title}}>{{title.Title}}</ion-option>
          
            
          </ion-select>
      </ion-item>

       <!--Listing Type-->
       <ion-item>
        <ion-label>Listing Type</ion-label>
        <ion-select [(ngModel)]="listingtype">
          <ion-option *ngFor = "let listingtype of listingtypes" value={{listingtype.ListingType}}>{{listingtype.ListingType}}</ion-option>
          
        </ion-select>
    </ion-item>
       <!--Listing Price-->
       <!--For Rent / Sale-->
       <ion-item>
          <ion-label floating>Price</ion-label>
          <ion-input type="text" [(ngModel)]="listingprice" name="listingprice">Price</ion-input>
      </ion-item>

       <!--Listing Sales-->
       <!--For Rent & Sale-->
       <ion-item>
        <ion-label floating>Rent</ion-label>
        <ion-input type="text" [(ngModel)]="rent" name="rent">Rent </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Sale</ion-label>
      <ion-input type="text" [(ngModel)]="sale" name="sale">Sale </ion-input>
  </ion-item>

    <!--Room-->
    <ion-item>
        <ion-label floating>No of Room</ion-label>
        <ion-input type="number" [ngModel]="room" name="room">Room</ion-input>
    </ion-item>
    <!--Bathroom-->
    <ion-item>
      <ion-label floating>No of Bathroom</ion-label>
      <ion-input type="number" [ngModel]="bathroom" name="bathroom">Bathroom</ion-input>
  </ion-item>
    <!--Carpark-->
    <ion-item>
      <ion-label floating>No of Carpark</ion-label>
      <ion-input type="number" [ngModel]="carpark" name="carpark">Carpark</ion-input>
  </ion-item>
      <!--Condition-->
      <ion-item>
          <ion-label>Condition</ion-label>
          <ion-select [(ngModel)]="condition" multiple="true">
            <ion-option>Corner</ion-option>
            <ion-option>Fully Furnised</ion-option>
            <ion-option>Fully Renovated</ion-option>
            <ion-option>Hill View</ion-option>
            <ion-option>Intermediate</ion-option>
            <ion-option>Original</ion-option>
            <ion-option>Partial Furnised</ion-option>
            <ion-option>Partial Renovated</ion-option>
            <ion-option>Road View</ion-option>
            <ion-option>Sea View</ion-option>
            <ion-option>Town View</ion-option>
            <ion-option>Unfurnished</ion-option>
          </ion-select>
        </ion-item>

         <!--Completion Date-->
       <ion-item>
          <ion-label floating>Completion Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="completionDate"></ion-datetime>
      </ion-item>

       <!--Land Area-->
       <ion-item>
          <ion-label floating>Land Area</ion-label>
          <ion-input type="text" [(ngModel)]="landarea" name="landarea">Land Area</ion-input>

          <ion-select [(ngModel)]="larea">
              <ion-option value="sf">SF</ion-option>
              <ion-option value="acre">Acre</ion-option>
          
              
            </ion-select>

      </ion-item>

       <!--Other-->
       <ion-item>
          <ion-label>Other</ion-label>
          <ion-select [(ngModel)]="other">
            <ion-option *ngFor = "let other of others" value={{other.Other}}>{{other.Other}}</ion-option>
            
            
          </ion-select>
      </ion-item>

      <!--Description-->
      <ion-item>
          <ion-textarea placeholder="Enter a description" [(ngModel)]="description" name="description"></ion-textarea>
        </ion-item>

        <!--Remark-->
      <ion-item>
          <ion-textarea placeholder="Enter a Remark" [(ngModel)]="remark" name="remark"></ion-textarea>
        </ion-item>

    </ion-card-content>
  </ion-card>

  <button ion-button block color="secondary" (click)="create()">Create</button>

</ion-content>
