page-sales-modal {
    .salesfont{
        text-align: center;
    }

    .sales{
        text-align: center;
        color: black;
        font-size: 36px;
        
    }
    .container-sales
    {
        
        border-width: 5px;
        border-color: black;
        min-width:120px;
        max-width:120px;
        min-height:60px;
        max-height:60px;
        object-fit: cover;
       margin-left: 50px;
    }
}
