<!--
  Generated template for the SalesModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SALES</ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8>
          <h3><p class="salesfont">PERSONAL SALES THIS MONTH</p></h3>
        <ion-card class="container-sales">
          <h4><p class="sales">{{result.ThisMonthPersonalSales}}</p></h4>
        </ion-card>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
            <h3><p class="salesfont">TOTAL PERSONAL SALES</p></h3>
          <ion-card class="container-sales">
            <h4><p class="sales">{{result.TotalPersonalSales}}</p></h4>
          </ion-card>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8>
              <h3><p class="salesfont">TEAM SALES THIS MONTH</p></h3>
            <ion-card class="container-sales">
              <h4><p class="sales">{{result.ThisMonthTeamSales}}</p></h4>
            </ion-card>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
                <h3><p class="salesfont">TOTAL TEAM SALES</p></h3>
              <ion-card class="container-sales">
                <h4><p class="sales">{{result.TotalTeamSales}}</p></h4>
              </ion-card>
            </ion-col>
            <ion-col col-2></ion-col>
          </ion-row>
  

  </ion-grid>
  
  
   
  
   
  
   
  
</ion-content>
