page-sponsor-detail {

    .sponsordetail{
        text-align: center;
    }

    .total-sponsor{
        text-align: center;
        color: white;
        font-size: 36px;
        
    }
    .round-total-sponsor
    {
        border-radius: 80px;
        border-width: 5px;
        border-color: black;
        min-width:40px;
        max-width:40px;
        min-height:40px;
        max-height:40px;
        object-fit: cover;
       background-color: red;
       margin-left: 85px;
    }

    .sponsor-button
    {   border-radius: 60px;
        border-width: 5px;
        min-width:100px;
        max-width:100px;
        min-height:100px;
        max-height:100px;
       
    }
}
