<!--
  Generated template for the SponsorDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SponsorDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
                
                <h3><p class="sponsordetail">DIRECT SPONSOR PROMOTION</p></h3>
                <h4><p class="sponsordetail">Sponsor Count</p></h4>
                <ion-card class="round-total-sponsor">
                <h4><p class="total-sponsor">{{result.TotalSponsor}}</p></h4>
               </ion-card>
        </ion-col>
        <ion-col col-2></ion-col>
          
      </ion-row>
      
      <ion-row>
       
        <ion-col col-2></ion-col>
        <ion-col col-4>
          <button ion-button class="sponsor-button" (click)="openDirectSponsorModal()">
         
              <p class="sponsordetail">Direct Sponsor</p>
          
        </button> 
        </ion-col>
       
        <ion-col col-4>
          <button ion-button class="sponsor-button" (click)="openSponsorModal()">
          <p class="sponsordetail">Sponsors</p>
        </button>
        </ion-col>
        <ion-col col-2></ion-col>
        
      </ion-row>

      <ion-row>
       
        <ion-col col-2></ion-col>
          <ion-col col-4>
             
              <button ion-button class="sponsor-button" (click)="openSalesModal()">
                <p class="sponsordetail">Sales</p>
                </button>
          
          </ion-col>
          <ion-col col-4>
            <button ion-button class="sponsor-button" (click)="openProfitModal()">
           <p class="sponsordetail">Profit</p>
          </button>
          </ion-col>
          <ion-col col-2></ion-col>
          
        </ion-row>
    </ion-grid>
  
   
      

      
     
     
   
 

  
  

  


</ion-content>
